.serviceSection {
  width: 90%;
  max-width: 1300px;
  margin: 70px auto;
  border-radius: 60px;
  position: relative;
  padding: 70px;
  text-align: left;
}

/* 케이터링 */
.cateringSection {
  background-color: #edfafe;
}

.serviceLabel {
  display: block;
  color: #49ccf9;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.serviceTitle {
  font-size: 40px;
  font-family: Inter, sans-serif;
  font-weight: 800;
  line-height: 68px;
  color: #333333;
  margin: 10px 0;
  max-width: 400px;
  word-wrap: break-word;
}

.serviceDivider {
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background-color: #49ccf9;
  margin: 20px 0;
}

.serviceDesc {
  font-size: 14px;
  line-height: 25px;
  color: #292d34;
  max-width: 400px;
}

.serviceImage {
  position: absolute;
  top: 35px;
  right: 65px;
  width: 500px;
  max-height: 300px;
  border-radius: 20px;
  object-fit: cover;
}

/* To-go Bag */
.togoSection {
  background-color: #e9ffe9;
}

.serviceLabelTogo {
  display: block;
  color: #6edb81;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.togoDivider {
  background-color: #6edb81;
} 