.footer {
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
}

.footerWrap {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footerLogo {
  flex: 1 1 200px;
}

.footerLogo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.footerRight {
  flex: 3 1 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
}

.footerMenu {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: start;
}

.footerMenu li a {
  text-decoration: none;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.searchInfo {
  margin-bottom: 10px;
}

.searchInfo select {
  padding: 4px;
  font-size: 14px;
}

.footerInfo {
  font-size: 14px;
  color: #292d34;
  text-align: right;
  line-height: 1.6;
}

.bold {
  font-weight: bold;
}

.footerLink {
  color: #003087;
  text-decoration: underline;
  cursor: pointer;
}

.footerLink:hover {
  color: #002060;
}

.copyText {
  color: #fff;
  margin-top: 40px;
  font-size: 14px;
  text-align: left;
}
